SECRET_KEY=very important secure key
EMAIL_VERIFY_KEY=very secure key
FORGOT_PASSWORD_KEY=very secure key
DEBUG=True
DJANGO_ALLOWED_HOSTS=*
MAIL_APP_NAME="example@gmail.com"
MAIL_APP_PASSWORD="**** **** **** ****"