{% load static %}
<header class="header" id="mainHeader">
    <div class="header-container">
        <a href="/" class="logo-area">
            <img src="{% static 'images/Logo_Circle_NoText.png' %}" alt="Marketin Burada Logo">
            <span>Marketin Burada</span>
        </a>
        <div class="header-links">
            <a href="/markets/">Marketler</a>
            <a href="/about/">Hakkımızda</a>
                
            <div class="auth-links">
                {% if auth_state %}
                    <!-- Kullanıcı Giriş Yapmışsa Gözükecek Alan -->
                    <a href="{% url "account:user-account" %}" class="header-icon-link">
                        <i class="fa-regular fa-user"></i>
                    </a>
                    
                    <a href="{% url "markets:cart" %}" class="header-icon-link">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </a>
                {% else %}
                    <!-- Kullanıcı Giriş Yapmamışsa Gözükecek Alan -->
                    <a href="{% url "account:login" %}" class="btn-login">Giriş Yap</a>
                    <a href="{% url "account:register" %}" class="btn-primary">Kayıt Ol</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>