{% extends "layout.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    {% block title %}Geçersiz Bağlantı | Marketin Burada{% endblock %}
    {% block extra_css %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/forgot_password_unchange.css' %}?v={{ random_number }}">
    {% endblock %}
</head>
<body>
    {% block content %}
        <div class="container container-unchange">
            <div class="unchange-card animate-card">
                <div class="unchange-icon-wrapper">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                </div>
                <h2>Geçersiz Sıfırlama Bağlantısı</h2>
                <p>Kullandığınız şifre sıfırlama linki hatalı, değiştirilmiş veya süresi dolmuş olabilir. Güvenliğiniz için lütfen yeni bir talep oluşturun.</p>
                
                <div class="btn-action-container">
                    <a href="/login/" class="btn-retry">Giriş Yap / Yeniden Dene</a>
                    <a href="/" class="btn-retry"><i class="fa-solid fa-house"></i> Ana Sayfaya Dön</a>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
{% block js_code %}
    <script src="{% static 'js/forgot_password_unchange.js' %}?v={{ random_number }}"></script>
{% endblock %}
</html>