{% extends "layout.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    {% block title %}Doğrulama Başarılı | Marketin Burada{% endblock %}
    {% block extra_css %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/verification-success.css' %}?v={{ random_number }}">
    {% endblock %}
</head>
<body>
    {% block content %}
        <div class="container container-verify">
            <div class="verify-card animate-card success-card">
                
                <div class="verify-state">
                    <div class="verify-icon-wrapper success-icon-animate">
                        <i class="fa-regular fa-circle-check verify-main-icon success-color"></i>
                    </div>
                    
                    <div class="verify-header">
                        <h2>Hesabınız <span>Onaylandı!</span></h2>
                        <p>E-posta adresiniz başarıyla doğrulandı. Sayfa 5 saniye içinde otomatik olarak kapatılacak.</p>
                    </div>
                </div>
                
            </div>
        </div>
    {% endblock %}
</body>
{% block js_code %}
    <script src="{% static 'js/verification-success.js' %}?v={{ random_number }}"></script>
{% endblock %}  
</html>